name: Main Workflow
on:
  push:
  schedule:
    - cron: "0 0 * * 0"
jobs:
  build:
    name: Build
    timeout-minutes: 10
    strategy:
      matrix:
        rust-version: [
          "1.88.0",
          "1.89.0",
          "1.90.0",
          "1.91.0",
          "1.92.0",
          "1.93.0",
          "latest",
        ]
    runs-on: ubuntu-latest
    container: rust:${{ matrix.rust-version }}
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v6
      - name: Install Rust components
        run: |
          rustup component add rustfmt
          rustup component add clippy
      - name: Print Rust information
        run: rustc --version
      - name: Verify Rust code format
        run: cargo fmt --all -- --check
      - name: Verify Rust code linting
        run: cargo clippy --all-targets -- -D warnings -A unknown-lints
      - name: Run unit tests
        run: cargo test
      - name: Build development version
        run: cargo build --all-targets
      - name: Build release version
        run: cargo build --release --all-targets
